.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  margin-left: -300px;
  margin-top: -300px;
  background: #28bfed;
  border-radius: 2px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden; }

.location {
  position: absolute;
  top: 0%;
  font-size: 1.7em;
  background: grey;
  padding: 5px;
  z-index: 10; }

.forecast {
  position: absolute;
  bottom: 0;
  background: white;
  width: 600px;
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 10px;
  z-index: 10; }

.box {
  background: salmon;
  padding: 10px;
  font-size: 1.5em;
  text-align: center; }

.padding {
  padding: 5px; }

.condition {
  padding: 0; }

.temp {
  font-size: 1.8em;
  padding: 0; }

.switch {
  display: inline-block;
  position: relative;
  left: 2.5em;
  bottom: 2em;
  width: 24px;
  height: 45px; }

.visible {
  display: block; }

.hide {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  border-radius: 20px;
  -webkit-transition: .1s;
  transition: .1s; }

.switch input {
  display: none; }

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  top: 2px;
  background: white;
  border-radius: 50%;
  -webkit-transition: .1s;
  transition: .1s; }

input:checked + .slider {
  background: #ccc; }

input:focus + .slider {
  box-shadow: 0 0 1px #ccc; }

input:checked + .slider:before {
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px); }

.visible {
  display: none; }

.sun {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 100px;
  height: 100px;
  background: yellow;
  border-radius: 50%;
  box-shadow: 0 0 40px 0 yellow;
  animation: rise 2s ease-out;
  z-index: 1; }

.cloud {
  position: absolute;
  top: 18%;
  left: 23%;
  z-index: 9;
  animation: slide 5s ease-in-out; }

.cloud-puff-1 {
  position: relative;
  width: 190px;
  height: 90px;
  background: white;
  border-radius: 50px;
  box-shadow: 0 0 10px 0 white; }

.cloud-puff-2 {
  position: relative;
  width: 120px;
  height: 120px;
  top: -35%;
  left: 19.5%;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 white; }

.cloud-2 {
  position: absolute;
  top: 15%;
  left: -96%; }
  .cloud-2 .cloud-puff-1 {
    background: #f9f9f9;
    box-shadow: 0 0 10px 0 #f9f9f9; }
  .cloud-2 .cloud-puff-2 {
    background: #f9f9f9;
    box-shadow: 0 0 10px 0 #f9f9f9; }

.hill-bg-1, .hill-bg-2, .hill-fg-1, .hill-fg-2, .hill-fg-3 {
  position: absolute;
  width: 337px;
  height: 281px;
  top: 55%;
  left: -10%;
  background: #307f00;
  border-radius: 50%;
  z-index: 5;
  animation: left-slide 10s ease-in; }

.hill-bg-2 {
  top: 55%;
  left: 48%; }

.hill-fg-1, .hill-fg-2, .hill-fg-3 {
  background: #44a30b;
  top: 66%;
  left: -24%;
  box-shadow: 0 0 10px 0 #44930f;
  animation: right-slide 10s ease-in; }

.hill-fg-2 {
  top: 60%;
  left: 19%;
  box-shadow: 0 0 10px 0 #44930f; }

.hill-fg-3 {
  top: 66%;
  left: 60%;
  box-shadow: 0 0 10px 0 #44930f; }

.lightning {
  position: absolute;
  top: 38%;
  left: 34%;
  z-index: 6; }

.bolt-1, .bolt-2, .bolt-3, .bolt-4 {
  background: yellow;
  height: 25px;
  width: 50px;
  -webkit-clip-path: polygon(100% 0, 38% 0, 0 100%);
  clip-path: polygon(100% 0, 38% 0, 0 100%); }

.bolt-2 {
  position: absolute;
  top: -25px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.bolt-3, .bolt-4 {
  position: absolute;
  top: 9px;
  right: 175px; }

.bolt-4 {
  top: -15px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.rain {
  position: absolute;
  top: 80%;
  left: -5%; }

.snow {
  position: absolute;
  top: 80%;
  left: -5%; }

.rain-small-1 {
  position: absolute;
  left: 0px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 0.96667s linear 0.26667s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .rain-small-1:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.rain-med-1 {
  position: absolute;
  left: 0px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  animation: drop 0.96667s linear 1.33333s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .rain-med-1:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-small-1 {
  position: absolute;
  left: 0px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 5.13333s linear 1.46667s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .snow-small-1:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-med-1 {
  position: absolute;
  left: 0px;
  width: 7px;
  height: 7px;
  animation: drop 7.13333s linear 15.2s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .snow-med-1:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 2px; }

.rain-small-2 {
  position: absolute;
  left: 40px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 1.03333s linear 1.93333s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .rain-small-2:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.rain-med-2 {
  position: absolute;
  left: 40px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  animation: drop 1.03333s linear 0.4s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .rain-med-2:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-small-2 {
  position: absolute;
  left: 40px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 5.13333s linear 2.2s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .snow-small-2:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-med-2 {
  position: absolute;
  left: 40px;
  width: 7px;
  height: 7px;
  animation: drop 7.06667s linear 10.2s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .snow-med-2:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 2px; }

.rain-small-3 {
  position: absolute;
  left: 80px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 0.96667s linear 0.53333s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .rain-small-3:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.rain-med-3 {
  position: absolute;
  left: 80px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  animation: drop 1.03333s linear 1.33333s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .rain-med-3:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-small-3 {
  position: absolute;
  left: 80px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 5.06667s linear 1.26667s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .snow-small-3:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-med-3 {
  position: absolute;
  left: 80px;
  width: 7px;
  height: 7px;
  animation: drop 7.13333s linear 5s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .snow-med-3:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 2px; }

.rain-small-4 {
  position: absolute;
  left: 120px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 0.96667s linear 2.66667s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .rain-small-4:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.rain-med-4 {
  position: absolute;
  left: 120px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  animation: drop 0.96667s linear 3.13333s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .rain-med-4:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-small-4 {
  position: absolute;
  left: 120px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 5.06667s linear 0.13333s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .snow-small-4:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-med-4 {
  position: absolute;
  left: 120px;
  width: 7px;
  height: 7px;
  animation: drop 7.13333s linear 4s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .snow-med-4:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 2px; }

.rain-small-5 {
  position: absolute;
  left: 160px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 0.96667s linear 1.8s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .rain-small-5:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.rain-med-5 {
  position: absolute;
  left: 160px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  animation: drop 0.96667s linear 2.4s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .rain-med-5:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-small-5 {
  position: absolute;
  left: 160px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 5.06667s linear 2.26667s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .snow-small-5:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-med-5 {
  position: absolute;
  left: 160px;
  width: 7px;
  height: 7px;
  animation: drop 7.13333s linear 8.8s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .snow-med-5:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 2px; }

.rain-small-6 {
  position: absolute;
  left: 200px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 1.03333s linear 1s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .rain-small-6:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.rain-med-6 {
  position: absolute;
  left: 200px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  animation: drop 1.03333s linear 1.46667s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .rain-med-6:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-small-6 {
  position: absolute;
  left: 200px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 5.13333s linear 2.46667s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .snow-small-6:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-med-6 {
  position: absolute;
  left: 200px;
  width: 7px;
  height: 7px;
  animation: drop 7.06667s linear 14.4s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .snow-med-6:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 2px; }

.rain-small-7 {
  position: absolute;
  left: 240px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 1.03333s linear 1.6s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .rain-small-7:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.rain-med-7 {
  position: absolute;
  left: 240px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  animation: drop 0.96667s linear 0.4s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .rain-med-7:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-small-7 {
  position: absolute;
  left: 240px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 5.06667s linear 1.13333s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .snow-small-7:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-med-7 {
  position: absolute;
  left: 240px;
  width: 7px;
  height: 7px;
  animation: drop 7.06667s linear 12.6s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .snow-med-7:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 2px; }

.rain-small-8 {
  position: absolute;
  left: 280px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 0.96667s linear 3.13333s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .rain-small-8:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.rain-med-8 {
  position: absolute;
  left: 280px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  animation: drop 0.96667s linear 1.33333s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .rain-med-8:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-small-8 {
  position: absolute;
  left: 280px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 5.13333s linear 1.46667s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .snow-small-8:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-med-8 {
  position: absolute;
  left: 280px;
  width: 7px;
  height: 7px;
  animation: drop 7.06667s linear 10.4s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .snow-med-8:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 2px; }

.rain-small-9 {
  position: absolute;
  left: 320px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 0.96667s linear 2.53333s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .rain-small-9:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.rain-med-9 {
  position: absolute;
  left: 320px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  animation: drop 0.96667s linear 1.6s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .rain-med-9:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-small-9 {
  position: absolute;
  left: 320px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 5.06667s linear 1.2s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .snow-small-9:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-med-9 {
  position: absolute;
  left: 320px;
  width: 7px;
  height: 7px;
  animation: drop 7.06667s linear 14.4s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .snow-med-9:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 2px; }

.rain-small-10 {
  position: absolute;
  left: 360px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 1.03333s linear 1.8s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .rain-small-10:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.rain-med-10 {
  position: absolute;
  left: 360px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  animation: drop 0.96667s linear 1.93333s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .rain-med-10:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-small-10 {
  position: absolute;
  left: 360px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 5.13333s linear 0.8s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .snow-small-10:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-med-10 {
  position: absolute;
  left: 360px;
  width: 7px;
  height: 7px;
  animation: drop 7.13333s linear 4.2s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .snow-med-10:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 2px; }

.rain-small-11 {
  position: absolute;
  left: 400px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 1.03333s linear 2.33333s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .rain-small-11:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.rain-med-11 {
  position: absolute;
  left: 400px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  animation: drop 1.03333s linear 0.8s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .rain-med-11:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-small-11 {
  position: absolute;
  left: 400px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 5.06667s linear 3.2s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .snow-small-11:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-med-11 {
  position: absolute;
  left: 400px;
  width: 7px;
  height: 7px;
  animation: drop 7.06667s linear 5.6s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .snow-med-11:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 2px; }

.rain-small-12 {
  position: absolute;
  left: 440px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 1.03333s linear 0.73333s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .rain-small-12:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.rain-med-12 {
  position: absolute;
  left: 440px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  animation: drop 0.96667s linear 1.2s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .rain-med-12:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-small-12 {
  position: absolute;
  left: 440px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 5.13333s linear 3.26667s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .snow-small-12:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-med-12 {
  position: absolute;
  left: 440px;
  width: 7px;
  height: 7px;
  animation: drop 7.06667s linear 15.8s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .snow-med-12:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 2px; }

.rain-small-13 {
  position: absolute;
  left: 480px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 1.03333s linear 3s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .rain-small-13:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.rain-med-13 {
  position: absolute;
  left: 480px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  animation: drop 1.03333s linear 3.26667s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .rain-med-13:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-small-13 {
  position: absolute;
  left: 480px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 5.06667s linear 2.06667s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .snow-small-13:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-med-13 {
  position: absolute;
  left: 480px;
  width: 7px;
  height: 7px;
  animation: drop 7.06667s linear 9.8s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .snow-med-13:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 2px; }

.rain-small-14 {
  position: absolute;
  left: 520px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 0.96667s linear 0.53333s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .rain-small-14:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.rain-med-14 {
  position: absolute;
  left: 520px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  animation: drop 0.96667s linear 0.26667s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .rain-med-14:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-small-14 {
  position: absolute;
  left: 520px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 5.13333s linear 0.86667s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .snow-small-14:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-med-14 {
  position: absolute;
  left: 520px;
  width: 7px;
  height: 7px;
  animation: drop 7.06667s linear 8.4s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .snow-med-14:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 2px; }

.rain-small-15 {
  position: absolute;
  left: 560px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 0.96667s linear 1.33333s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .rain-small-15:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.rain-med-15 {
  position: absolute;
  left: 560px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  animation: drop 1.03333s linear 3.2s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .rain-med-15:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-small-15 {
  position: absolute;
  left: 560px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cce2ff;
  animation: drop 5.13333s linear 2.26667s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 5; }
  .snow-small-15:before {
    position: absolute;
    content: '';
    top: -1px;
    left: 1px;
    width: 7px;
    height: 7px;
    background: #cce2ff;
    border-radius: 50%; }

.snow-med-15 {
  position: absolute;
  left: 560px;
  width: 7px;
  height: 7px;
  animation: drop 7.13333s linear 4.2s infinite;
  animation-fill-mode: both;
  transform-origin: 50% 100%;
  z-index: 6; }
  .snow-med-15:before {
    position: absolute;
    top: -1px;
    left: 1px;
    content: '';
    width: 10px;
    height: 10px;
    background: #cce2ff;
    border-radius: 2px; }

.fog {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  background: white;
  opacity: 0.8;
  z-index: 6; }

@keyframes rise {
  from {
    transform: translate(-80px, 460px); }
  to {
    transform: translate(0, 0px); } }

@keyframes slide {
  from {
    transform: translate(-400px, 0px); }
  to {
    transform: translate(0, 0px); } }

@keyframes left-slide {
  from {
    transform: translate(-20px, 0px); }
  to {
    transform: translate(0, 0px); } }

@keyframes right-slide {
  from {
    transform: translate(20px, 0px); }
  to {
    transform: translate(0, 0px); } }

@keyframes drop {
  0% {
    transform: translate3d(50px, -490px, 0) scaleX(1) scaleY(1) rotate(20deg); }
  100% {
    transform: translate3d(0, 0, 0) scaleX(1) scaleY(1) rotate(200deg); } }
